
<body>
    <nav class="navbar">
        <p><a href="/dashboard" class="links">PostHaven.</a></p>   
        <div class="search-box">
            <i class='bx bx-search-alt-2'></i>
            <input type="text" placeholder="Search here..." [(ngModel)]="searchTerm" (input)="applySearchFilter()">
        </div>     

        <ul class="links-container">
            <li class="link-item"><a routerLink="/editor" class="link">Create</a></li>
            <li class="link-item"><a routerLink="/summary" class="link">Summary</a></li>
            <li class="link-item"><a routerLink="/profile" class="link">Profile</a></li>
            <li class="link-item"><a href="#" (click)="logout()" class="link">Logout</a></li>
        </ul>
    </nav>

    <header class="header">
        <div class="content">
            <img>
            <h2 style="font-style: italic" class="icon">POSTHAVEN</h2>
            <h1 class="no-fill">Constructive Ideas</h1>
            <p>A Haven for Creative Minds</p>
        </div>
    </header>
 
    <!-- blog section -->
    <section class="blogs-section">
        <div class="blog-card" *ngFor="let post of filteredPosts">
            <!-- Ensure the image path is correct and accessible -->
            <img *ngIf="post.image_path" [src]="post.image_path" class="blog-image" alt="Post image">
            <h1 class="blog-title">{{ post.title }}</h1>
            <p class="blog-overview">{{ post.content | truncate:150 }}</p>
            <p class="blog-author">Created By: {{ post.author }}</p>
            <p class="blog-date">{{ post.formattedTime }}</p>
            <a [routerLink]="['/blogs/', post.post_Id]" class="btns">Read more <i class='bx bx-right-arrow-alt'></i></a>
            <div class="displaybutton col-md-3 text-right">
                <button class="stylish-gray-button" (click)="toggleLikeAndCreate(post.post_Id)" [ngClass]="{'liked': post.hasLiked}">
                    <div><i class="fa-solid fa-heart" [ngClass]="{'visible': post.hasLiked}"></i></div>
                </button>
                <button class="stylish-gray-button" (click)="sharePost(post.post_Id)">
                    <i class="fa-solid fa-share"></i>
                </button>
            </div>
        </div>
    </section>
</body>

