<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog : Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <p><a href="/dashboard" class="links">PostPonder.</a></p>        
        <ul class="links-container">
            <li class="link-item"><a href="/summary" class="link">Summary</a></li>
            <li class="link-item"><a href="/blog" class="link">Blog</a></li>

            <li class="link-item"><a href="#" (click)="logout()" class="link">Logout</a></li>
        </ul>
    </nav>

    <header class="header">
        <div class="content">
            <h1 class="heading">
                <span class="small">welcome to</span>
                Post<span class="no-fill">Ponder</span>
                <p>Journey through Words, Explore New Worlds.</p>
            </h1>
            <a href="/editor" class="btn">Create a blog</a>
        </div>
    </header>
    
    <!-- blog section -->
    <section class="blogs-section">
        <div class="blog-card" *ngFor="let entry of postForm">
            <div class="laman row my-3">
                <div class="col-md-9">
                    <div class="details-p">
                        <h1 class="blog-title">{{ entry.title }}</h1>
                        <p class="blog-overview">{{ entry.content }}</p>
                    </div>
                    <p class="blog-overview">{{ entry.author }}</p>
                </div>
                <div class="displaybutton col-md-3 text-right">
                    <button class="btn dark" [routerLink]="['/blog', entry.post_Id]"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button class="btn dark" [routerLink]="['/edit-post', entry.post_Id]"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn dark" (click)="deletePost(entry.post_Id)"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
