
<body>
<nav class="navbar">
    <p><a [routerLink]="['/dashboard']" class="links">PostHaven</a></p>
    <div class="search-box">
        <i class='bx bx-search-alt-2'></i>
        <input type="text" placeholder="Search here..." [(ngModel)]="searchTerm" (input)="applySearchFilter()">
    </div>
    <ul class="links-container">
        <li class="link-item"><a [routerLink]="['/editor']" class="link">Create</a></li>
        <li class="link-item"><a [routerLink]="['/summary']" class="link">Summary</a></li>
        <li class="link-item"><a [routerLink]="['/profile']" class="link">Profile</a></li>
        <li class="link-item"><a href="#" (click)="logout()" class="link">Logout</a></li>
    </ul>
</nav>

<div class="container_box">
<div class="details">
    <h3 class="centered-title">Summary</h3>

    <div *ngFor="let post of filteredPosts" class="laman">
        <div>
            <div class="details-p">
                <h3 class="blog-title">{{ post.title }}</h3>
                <span class="blog-date">{{ formatDate2(post.date_created) }}</span>
            </div>
            <p class="blog-overview">{{ post.content | truncate:80  }}</p>
            <p class="blog-author">Published By: {{ post.author }}</p>
        </div>
        <div class="displaybutton col-md-3 text-right">
            <button class="stylish-gray-button" [routerLink]="['/blogs/', post.post_Id]">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="stylish-gray-button" [routerLink]="['/editblog', post.post_Id]">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="stylish-gray-button" (click)="deletePost(post.post_Id)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
</div>
</div>
</body>
