<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
</head>
<body>
    <nav class="navbar">
        <p><a href="/dashboard" class="links">PostPonder.</a></p>        
        <ul class="links-container">
          <li class="link-item"><a href="/editor" class="link">Create</a></li>
          <li class="link-item"><a href="/summary" class="link">Summary</a></li>
          <li class="link-item"><a href="/profile" class="link">Profile</a></li>
          <li class="link-item"><a href="#" (click)="logout()" class="link">Logout</a></li>
        </ul>
    </nav>

    <div class="banner" [style.backgroundImage]="'url(' + bannerPath + ')'">
        <img [src]="preview" class="preview" />
        <input type="file" accept="image/*" id="banner-upload" (change)="selectFile($event)" hidden>
        <label for="banner-upload" class="banner-upload-btn">
            <img src="assets/upload.png" alt="upload banner">
        </label>
    </div>
    
    <form [formGroup]="addBlog">
        <div class="blog">
            <textarea type="text" formControlName="title" class="title" placeholder="Blog title..."></textarea>
            <textarea type="text" formControlName="author" class="author" placeholder="Author..."></textarea>
            <textarea type="text" formControlName="content" class="article" placeholder="Start writing here..."></textarea>
        </div>
    </form>
    
    <div class="blog-options">
        <button class="btn dark publish-btn" (click)="onSubmitPost()" type="submit">Submit</button>
        <label for="image-upload" class="btn grey upload-btn" (click)="upload()" >Upload Image</label>
        <a class="btn dark publish-btn" href="/dashboard">Back</a>
    </div>
</body>
</html>
