<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>

</head>
<body>
    <nav class="navbar">
        <p>PostPonder.</p>
        <ul class="links-container">
            <li class="link-item"><a href="/dashboard" class="link">home</a></li>
            <li class="link-item"><a href="/editor" class="link">Create</a></li>
            <li class="link-item"><a href="/summary" class="link">Summary</a></li>
            <li class="link-item"><a (click)="logout()" class="link">Logout</a></li>
        </ul>
    </nav>

    <div class="banner">
        <div class="container">
            <h3 class="add">Add Your Blog Here....</h3>
            <form>
            
        <div class="blog">
            <textarea type="text" class="title form-control" placeholder="Blog Title..."></textarea>
            <input type="text" class="author form-control" placeholder="Author">
    
            <textarea type="text" class="article form-control" placeholder="Start writing here..."></textarea>
        </div>
    
        <div class="blog-options">
            <button type="submit" class="btn dark publish-btn">Publish</button>
            <a href="/dashboard" class="btn dark publish-btn">Back</a>
        </div>
    </form>
    </div>
    </div>

    
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>

    <script src="js/firebase.js"></script>
    <script src="js/editor.js"></script>

</body>
</html>