<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body style="font-family: 'Poppins', sans-serif;">

    <nav class="navbar">
        <p><a href="/home" class="links">PostPonder.</a></p>        
        <ul class="links-container">
            <li class="link-item"><a href="/editor" class="link">Create</a></li>
            <li class="link-item"><a href="/summary" class="link">Summary</a></li>
            <li class="link-item"><a href="/profile" class="link">Profile</a></li>
        </ul>
    </nav>
    
   <!----- <div class="dash-content">
        <div class="overview">
            <div class="header__wrapper">
                <header id="userHeader">
                    <div class="left__col">
                        <div class="img__container">
                            <img src="" alt="" id="userImage">
                            <span id="userName"></span>
                        </div>
                        <h2 id="userTitle"></h2>
                        <p class="status" id="userStatus"></p>
                        <p class="email" id="userEmail"></p>
                    </div>
                    <div class="right__col">
                        <div class="photos">
                            <img src="assets/picture/5.jpg" alt="Photo" />
                            <img src="assets/picture/6.jpg" alt="Photo" />
                            <img src="assets/picture/7.jpg" alt="Photo" />
                            <img src="assets/picture/9.jpg" alt="Photo" />
                            <img src="assets/picture/12.jpg" alt="Photo" />
                            <img src="assets/picture/13.jpg" alt="Photo" />
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/home.js"></script>-->
    <body style="font-family: 'Poppins', sans-serif;">
        <nav class="navbar">
          <p><a href="/dashboard" class="links">PostHaven.</a></p>        
          <ul class="links-container">
            <li class="link-item"><a href="/editor" class="link">Create</a></li>
            <li class="link-item"><a href="/summary" class="link">Summary</a></li>
            <li class="link-item"><a href="/profile" class="link">Profile</a></li>
          </ul>
        </nav>
      
        <div class="header__wrapper">
          <header></header>
          <div class="cols__container">
            <div class="left__col">
              <div class="img__container">
                <img src="assets/user.png" alt="profile" />
                <span></span>
              </div>
              <h2>{{profileData.username}}</h2>
              <p>   Guest || Author   </p>
              <p class="email">{{profileData.email}}</p>
    
              <ul class="about">
                
              </ul>
    
              <div class="content">
                <p>
                  <button class="btn" type="submit" (click)="logout()">Logout</button>
                </p>
    
                <ul>

                </ul>
              </div>
            </div>
            <div class="right__col">
              <nav>
                <ul>
                  <li>Recent Post</li>
                </ul>
              </nav>
    
              <div class="photos">
                <section class="blogs-section">
                  <div class="blog-card" *ngFor="let post of posts">
                      <h1 class="blog-title">{{ post.title }}</h1>
                      <p class="blog-author">Created By: {{ post.author }}</p>
                      <p class="blog-date">{{ post.date_created }}</p>
                      <a [routerLink]="['/blogs/', post.post_Id]" class="btns">Read more -></a>
                  </div>
              </section>
              </div>
            </div>
          </div>
        </div>
      
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      </body>
      