<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">

    <title>Blog</title>
</head>
<body>
    <nav class="navbar">
        <p><a routerLink="/dashboard" class="links">PostPonder.</a></p>
        <ul class="links-container">
            <li class="link-item"><a routerLink="/editor" class="link">Create</a></li>
            <li class="link-item"><a routerLink="/summary" class="link">Summary</a></li>
            <li class="link-item"><a routerLink="/profile" class="link">Profile</a></li>
            <li class="link-item"><a href="#" (click)="logout()" class="link">Logout</a></li>
        </ul>
    </nav>

    <div class="container" id="blog-container">
        <div id="blog" class="blog" *ngIf="post">
            <h1 class="title">{{ post.title }}</h1>
            <p class="author">Published By: {{ post.author }}</p>
            <p class="article">{{ post.content }}</p>
        </div>
    </div>

    <div class="body">
        <section class="comment_card">
            <h2 style="text-align: center;">Your Comment</h2>
            <div>
                <form [formGroup]="addComment" (ngSubmit)="onSubmitComment()">
                    <input type="hidden" formControlName="postedBy" [value]="profileData.username">
                    <textarea type="text" formControlName="content" placeholder="Type Your Comment"></textarea>
                    <button type="submit">Submit Comment</button>
                </form>
            </div>
        </section>

        <div class="comment_section">
            <h3>Comment</h3>
            <div class="comment_laman" *ngFor="let comment of comments">
                <img src="assets/user.png">
                <h3 class="comment_title">{{ comment.postedBy }}
                    <p class="date">Published On: {{ comment.formattedTime }}</p>
                </h3>
                <p class="laman">{{ comment.content }}</p>
                <div class="comment_footer">
                    <button class="stylish-gray-button" (click)="toggleLikeAndCreate(comment.Id)" [ngClass]="{'liked': comment.hasLiked}">
                        <div><i class="fa-solid fa-heart" [ngClass]="{'visible': comment.hasLiked}"></i></div>
                    </button>
                    <button class="stylish-gray-button" (click)="deleteComment(comment.Id)"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
